In [1]:
import pandas as pd
import numpy as np
import copy
import random
df = pd.read_csv('change_binary_fin.csv')
df

,Name,Is_Female,Is_Dead,Married,Arts_and_humanity_related,Fine_Arts_related,Humanity_related,Gov_related,Industry_related,Medicine_related,...,been_Biologist,British,Chinese,French,Canadian,German,Japanese,Italian,Indian,Australian
0,Virginia Apgar,1,1,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Florence Nightingale,1,1,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
2,Alice Ball,1,1,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Patricia Bath,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Linda Buck,1,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,Federico Fellini,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1012,Akira Kurosawa,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1013,Ingmar Bergman,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1014,John Huston,0,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1015,Sergio Leone,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [2]:
def func_entropy(ser):
    p = ser.value_counts(normalize=True)
    return -np.sum(p * np.log2(p))

In [3]:
def ask_question_and_narrow_down(df, previous_responses={}):
    # If only 1 name left, find answer
    if len(df) == 1:
        # f1 = True
        print(f"The character you are thinking of is: {df['Name'].values[0]}")
        return df['Name'].values[0]

    # calculate CMI for remaining columns
    cmis =  df.iloc[:,1:].apply(func_entropy).to_dict()
    
    # check if all CMIs are equal, if so just return 
    if len(set(cmis.values())) == 1:
        # fcmis = True
        print("All characters remaining have the same information gain for remaining questions.")
        print("The characters you pick are among:")
        names = df['Name'].to_list()
        names_string = ', '.join(names)
        print(names_string)
        return names_string
    
    # find best col to ask according to enropy calc
    best_question = df.iloc[:,1:].apply(func_entropy).sort_values(ascending=False).head(1).index[0]
    
    # take in user input
    response = input(f"Does the character {best_question}? (yes/no): ").strip().lower()
    
    # update 
    if response == 'yes':
        previous_responses[best_question] = 1
        df = df[df[best_question] == 1]
    elif response == 'no':
        previous_responses[best_question] = 0
        df = df[df[best_question] == 0]
    else:
        print("Please answer with 'yes' or 'no'.")
        return ask_question_and_narrow_down(df, previous_responses={})

    # print names remaining after each question being asked 
    print(f"Characters remaining: {len(df)}")
    
    # when only 10 or less names left, print names
    if len(df) <= 10:
        print("Remaining characters:")
        print(df['Name'].to_list())

    # recursive call
    ask_question_and_narrow_down(df, previous_responses={})

In [4]:
# now play!
ask_question_and_narrow_down(df, previous_responses={})

Does the character Birth_afr_1950? (yes/no): yes
Characters remaining: 510
Does the character American? (yes/no): yes
Characters remaining: 253
Does the character Arts_and_humanity_related? (yes/no): yes
Characters remaining: 144
Does the character College_level_Edu? (yes/no): no
Characters remaining: 66
Does the character Married? (yes/no): no
Characters remaining: 34
Does the character Fine_Arts_related? (yes/no): yes
Characters remaining: 18
Does the character Won_Grammy_more_than_5? (yes/no): yes
Characters remaining: 8
Remaining characters:
['Taylor Swift', 'Whitney Houston', 'Christina Aguilera', 'Norah Jones', 'Michael Jackson', 'Bruno Mars', 'Eminem', 'Jack White']
Does the character Is_Female? (yes/no): yes
Characters remaining: 4
Remaining characters:
['Taylor Swift', 'Whitney Houston', 'Christina Aguilera', 'Norah Jones']
Does the character play_Pop? (yes/no): yes
Characters remaining: 2
Remaining characters:
['Taylor Swift', 'Christina Aguilera']
All characters remaining have the same information gain for remaining questions.
The characters you pick are among:
Taylor Swift, Christina Aguilera

In [12]:
# now play!
ask_question_and_narrow_down(df, previous_responses={})

Does the character Birth_afr_1950? (yes/no): yes
Characters remaining: 510
Does the character American? (yes/no): no
Characters remaining: 257
Does the character Is_Female? (yes/no): no
Characters remaining: 127
Does the character Humanity_related? (yes/no): no
Characters remaining: 63
Does the character Industry_related? (yes/no): no
Characters remaining: 36
Does the character Music_related? (yes/no): yes
Characters remaining: 15
Does the character Won_Grammy? (yes/no): yes
Characters remaining: 8
Remaining characters:
['George Michael', 'Ed Sheeran', 'Drake', 'Justin Bieber', 'Harry Styles', 'Ricky Martin', 'Enrique Iglesias', 'Phil Collins']
Does the character British? (yes/no): yes
Characters remaining: 4
Remaining characters:
['George Michael', 'Ed Sheeran', 'Harry Styles', 'Phil Collins']
Does the character Service_in_Industry_over_30? (yes/no): no
Characters remaining: 2
Remaining characters:
['Ed Sheeran', 'Harry Styles']
Does the character Won_Grammy_more_than_once? (yes/no): no
Characters remaining: 1
Remaining characters:
['Harry Styles']
The character you are thinking of is: Harry Styles